#container {
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.sketchColumn{
    display: flex;  
    flex-grow: 1;
}

#sketchRowID {
    border: 1px solid black;
    width: 100%
}

.active {
    background-color: blue;
}